.checkout {
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item p {
    flex: 1 1 100%;
    font-size: 1.9rem;
}

.confirm-and-pay-btn {
    width: 100%;
    font-size: 1.9rem;
}