.search-bar {
    width: 90%;
    margin: 10px auto;
    display: flex;
}

@media (max-width: 70rem) {
    .search-bar {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .search-bar .dropdown-filter {
        flex: 1 1 100%;
        margin-bottom: 5px;
        margin-right: 0;
    }
    .filtering-by-price, .filtering-by-brand {
        flex: 2 1 100%;
    }
}

.search-bar .search-field {
    flex: 2 1 50%;
}

.search-bar .dropdown-filter {
    flex: 1 1 30%;
    margin: 2px;
}

.search-bar .search-btn {
    flex: 1 1 10%;
}
.search-bar .filtering-by-price {
    flex: 2 2 50%;
}

.search-bar .filtering-by-brand {
    flex: 2 2 40%;
}

.search-bar * {
    font-size: 1.8rem;
    line-height: 1.7;
}

.search-bar .form-select {
    background-color: rgb(243,243,243);
}

.search-btn {
    height: 4.1rem;
}